* {
    margin: 0; 
    padding: 0;
}

header, .hero, footer {
    background-color: #1F2937;
}

header {
    display: flex; 
    justify-content: space-between; 
    color: #F9FAF8;
}

#quote_callout {
    background-color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}